<div *ngFor="let q of question; let i = index">
  <form [formGroup]="forms[i].formGroup">
    <!-- タイトルとチェックボックス -->
    <div class="form-group">
      <input
        type="checkbox"
        class="form-check-input"
        id="selQuestion-{{ i }}"
        formControlName="select"
        (ngModelChange)="onSelectChange($event, i)"
      />
      <label class="form-check-label" for="selQuestion-{{ i }}">{{
        q.question
      }}</label>
    </div>
    <!-- 入力欄 -->
    <div class="form-group">
      <textarea
        class="form-control"
        [placeholder]="q.placeholder"
        [rows]="q.rows"
        formControlName="opinion"
      ></textarea>
    </div>
  </form>
  <hr />
</div>

<button type="button" (click)="onSubmit()">parent-component</button>

<hr />
<p>チェックアイテム表示テスト</p>
<div>
  <ng-container *ngFor="let q of question; let i = index">
    <!-- いずれかが選択されている -->
    <div *ngIf="forms[i].formGroup.controls['select'].value">
      <div class="form-group">■ {{ q.question }}</div>
      <div class="form-group">
        <!-- prettier-ignore -->
        <div class="pre-wrap">{{ forms[i].formGroup.controls["opinion"].value }}</div>
      </div>
    </div>
  </ng-container>

  <!-- いずれも選択されていない -->
  <div *ngIf="!checkStatus">選択なし</div>
</div>
